// BOTON NAVEGACION

.navegacion__boton {

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font;
    font-weight: bold;
    
    color: $c-verde;
    width: 11rem;
    height: 3rem;
    padding: 2px 2px;
    border-radius: 30px;
    border: 1px solid $c-verde;
    
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    

    transition: transform 0.3s ease;



    &:hover {
        color: white;
        background-color: $c-verde;
        transform: scale(1.1);

    }

}

// BOTON AÑADIR AL CARRITO

.carrito__boton {

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font;
    font-weight: bold;
    
    color: $c-verde;
    width: 11rem;
    height: 2.5rem;
    padding: 2px 2px;
    border-radius: 30px;
    border: 1px solid $c-verde;
    
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    

    transition: transform 0.3s ease;



    &:hover {
        color: white;
        background-color: $c-verde;
        transform: scale(0.9);

    }

}